@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&display=swap');

.Photography {
    display: inline;
    margin: 0px;
    width: 100%;
    padding-left: 5%;
}

.Photography p {
    font-family: 'Inconsolata', monospace;
    font-size: 26px;
    width: 700px;
}

.Photography h1{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 48px;
}

.gallery {
    display: flex;
    width: 690px;
    height: 450px;
    flex-wrap: wrap;
    row-gap: 10px;
    gap: 10px;
}

.gallery-entry {
    width: 340px;
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
}

.gallery-entry img {
    width: 340px;
    height: 220px;
    position: absolute;
}

.gallery-entry .gallery-overlay {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    position: absolute;
    transition: opacity 0.5s ease;
}

.gallery-entry:hover .gallery-overlay {
    opacity: 0.7;
}

.gallery-entry h2 {
    color: white;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: 'Beau Rivage', cursive;
    font-size: 64px; /* Add the unit (e.g., pixels) */
    z-index: 1;
    display: flex;
    justify-items: center;
    align-items: center;
    font-weight: 100;
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.gallery-entry:hover h2 {
    opacity: 1;
}

.gallery-entry button {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    border: 0px;
    z-index: 2;
}


